<div *ngIf="login_token" id="pagetop">
  <div class="main-content">
    <div class="row"></div>
    <div>
      <div class="panel-group" id="accordion">
        <div *ngIf="permission_flag" class="panel panel-default">
          <div class="panel-heading">
            <a
              (click)="checkGeneralData()"
              data-toggle="collapse"
              data-parent="#accordion"
            >
              <h4 class="panel-title">Add New Branch &nbsp;</h4>
            </a>
          </div>
          <div id="collapse7" class="panel-collapse collapse in">
            <div class="panel-body">
              <div *ngIf="!flagnewBranch" class="row">
                <div class="col-sm-4">
                  <button
                    class="btn btn-primary"
                    (click)="createNewBranch()"
                    [disabled]="confirm_pressed"
                  >
                    Add New Branch
                  </button>
                </div>
                <div class="col-sm-4">
                  <h5 *ngIf="invalid_request" class="pull-center text-danger">
                    Failed to add Branch.
                  </h5>
                </div>

                <div class="col-sm-4"></div>
              </div>

              <div *ngIf="flagnewBranch" class="row">
                <div class="col-sm-4">
                  <!-- <input class="form-control" type="text" placeholder="Company Code"
                                        [(ngModel)]="company_ID" > -->
                  <div class="dropdown" *ngIf="isCMS">
                    <ng-select
                      [items]="company_list$ | async"
                      bindLabel="CompanyCode"
                      [loading]="companies_loading"
                      class="fitalign"
                      [virtualScroll]="virtual_scroll_company"
                      (focus)="getCompanies()"
                      [clearable]="clearable_company"
                      placeholder="Select Company Code"
                      (change)="getCompanyFlag($event)"
                    ></ng-select>
                    <!--
                      [(ngModel)]="selectedCompanyCode"
                       <button
                      (click)="getCompanies()"
                      class="btn btn-default dropdown-toggle fitalign"
                      type="button"
                      id="dropdownMenu1reg"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                    >
                      <span *ngIf="!company_flag">Select Company Code</span>
                      <span *ngIf="company_flag"
                        >{{ selectedCompanyCode }} <b>&#10004;</b></span
                      >
                      &nbsp;<span class="caret"></span>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenu1reg"
                    >
                      <li *ngFor="let z of company_list">
                        <a (click)="getCompanyFlag(z)">{{ z.CompanyCode }}</a>
                      </li>
                    </ul> -->
                  </div>
                  <div *ngIf="!isCMS">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Company Code"
                      [(ngModel)]="company_code"
                      readonly
                    />
                  </div>
                  <div>
                    <span class="required-asterisk">
                      *<span
                        class="required-asterisk"
                        *ngIf="show_blank_alert && !company_flag"
                      >
                        This is a required field
                      </span>
                    </span>
                  </div>
                </div>

                <div class="col-sm-4">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Branch Code"
                    [(ngModel)]="branch_code"
                    [maxlength]="15"
                    (input)="validateBranchCode()"
                  />
                  <div *ngIf="!show_branch_alert">
                    <span class="required-asterisk">
                      *<span
                        class="required-asterisk"
                        *ngIf="show_blank_alert && nullCheck(branch_code)"
                      >
                        This is a required field
                      </span>
                    </span>
                  </div>
                  <div *ngIf="show_branch_alert">
                    <span class="required-asterisk"
                      >* Space and special characters not allowed here</span
                    >
                  </div>
                </div>

                <div class="col-sm-4">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Branch Name"
                    [(ngModel)]="branch_name"
                  />
                  <div>
                    <span class="required-asterisk">
                      *<span
                        class="required-asterisk"
                        *ngIf="show_blank_alert && nullCheck(branch_name)"
                      >
                        This is a required field
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div  *ngIf="flagnewBranch" class="row">
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" placeholder="Branch Name"
                                        [(ngModel)]="branch_name" >
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" placeholder="Created By"
                                        [(ngModel)]="created_by" readonly >
                                </div> -->

              <!-- </div> -->
              <br /><br />
              <div *ngIf="flagnewBranch" class="row">
                <div class="col-sm-4">
                  <button
                    class="btn btn-primary pull-left"
                    (click)="saveNewBranch()"
                    [disabled]="confirm_pressed"
                  >
                    Submit
                  </button>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion">
              <h4 class="panel-title">
                Edit Branch &nbsp;
                <span (click)="showFilter()">
                  <i class="pe-7s-filter pe-4x pe-va">Filter</i></span
                >
              </h4>
            </a>
          </div>
          <div *ngIf="show_filter" class="panel-body">
            <div class="col-xs-6 col-sm-2" *ngIf="isCMS">
              <label>&nbsp;&nbsp;Company Code&nbsp;&nbsp;</label>
              <input
                class="form-control filter"
                type="text"
                placeholder=" Search Company... "
                [(ngModel)]="comp_name"
                (input)="filter($event.target.value, 1)"
              />
            </div>

            <div class="col-xs-6 col-sm-2">
              <label>&nbsp;&nbsp;Branch Name&nbsp;&nbsp;</label>
              <input
                class="form-control filter"
                type="text"
                placeholder=" Search Branch... "
                [(ngModel)]="br_name"
                (input)="filter($event.target.value, 2)"
              />
            </div>

            <div class="col-xs-6 col-sm-2">
              <label for="branchCode"
                >&nbsp;&nbsp;Branch Code&nbsp;&nbsp;</label
              >
              <input
                type="text"
                class="form-control filter"
                placeholder="Branch
              Code..."
                [(ngModel)]="branch_code_f"
                (input)="filter($event.target.value, 3)"
              />
            </div>
          </div>

          <div id="collapse7" class="panel-collapse collapse in">
            <table class="table">
              <thead>
                <tr>
                  <th>Company CODE</th>
                  <th>Branch Code</th>
                  <th>Branch Name</th>

                  <th *ngIf="permission_flag">De-Activate</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of branch_list
                      | paginate: { itemsPerPage: 8, currentPage: p };
                    let i = index;
                    let odd = odd
                  "
                  [ngClass]="odd ? 'odd_col' : 'even_col'"
                >
                  <td>{{ item["CompanyCode"] }}</td>
                  <td>{{ item["BranchCode"] }}</td>
                  <td>{{ item["BranchName"] }}</td>

                  <td *ngIf="permission_flag">
                    <input
                      type="checkbox"
                      [name]="item"
                      [(ngModel)]="item.Checked"
                      id="item+i"
                      (change)="getCheckboxValues($event, item)"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event">
            </pagination-controls>
            <div *ngIf="!got_Branch">
              <br />
              <h5 class="text-primary">&nbsp;Loading...</h5>
            </div>
            <div *ngIf="flagEditbranch" class="panel-body">
              <!-- <div class="row">
                                <div class="col-sm-4">
                                    <h4>Branch details</h4>
                                </div>
                            </div> -->
              <!-- <div   class="row" >
                                
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" 
                                        [(ngModel)]="branch_id1"  readonly>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" 
                                        [(ngModel)]="branch_location"  readonly>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" 
                                        [(ngModel)]="branch_zone" readonly >
                                </div>
                                
                            </div> -->
              <br />
              <div *ngIf="flagEditbranch" class="row">
                <div class="col-sm-4">
                  <button
                    class="btn btn-primary pull-left"
                    (click)="confirmSubmitBranch()"
                    [disabled]="confirm_pressed"
                  >
                    submit
                  </button>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
