a, a:hover, a:focus {
    color:rgb(50 7 115) !important;
}

li {
    margin-top: -5px;
    margin-bottom: -8px;
    margin-left: -13px;
}

.navbar-brand {
    font-weight: bolder;
    font-size: x-large;
}

.panel-default>.panel-heading {
    color: #333;
    background-color:#444141;
    border-color: #291469;
}