<div class="main-content">
  <div class="row">
      <div class="col-sm-1">
      </div>

      <div class="col-sm-3 text-center">
          <h4 ><b>ENTER USER DETAILS</b> </h4>
          <input  class="form-control" type="text" placeholder="Enter Company Code" [(ngModel)]="company_code">
          <input class="form-control" type="text" placeholder="Enter Employee Code"
              [(ngModel)]="emp_code">
         
          <br>
          <button class="btn btn-primary" (click)="sendDetails()">Submit</button>
          <br>
          <br>
          <h5 *ngIf="invalid_user" class="pull-center text-danger">Invalid Details.</h5>      
      </div>

  </div>
</div>