th {
    color: grey !important;
}
pagination-controls {
    font-size: 120%;
    text-align: center !important;
}
h4 {
    margin-top: 0px !important;
}
.changebtn {
    margin-top: 20%;
    padding-left: 15%;
  
}

.doc_icon {
    margin-left: 20px;
    font-size: 200%;
}
.table > thead > tr > th {
    border: none;
    color: #242424;
}
.font-bold {
    font-weight: bold;
}

.text-success {
    color: #2e965b !important;
}
.btn {
    margin-top: 10px !important;
    padding-right: 10px !important;
    color: antiquewhite;
}
.btn-primary:hover  {
    transform: rotateX(50deg);
}
.shiftup {
    margin-top: -40px !important;
}
.word-wrap {
    word-break: break-all;
}
.no-wrap {
    white-space: nowrap;
}
.clickable {
    cursor:pointer;
}
.background {
    font-weight: bolder;
    font-size: xx-large;
    color: antiquewhite;
    align-items: center;
    margin-top: 15%;
    margin-left: 30%;


}


.main-content {
    background: linear-gradient(to right, #3a6186, #89253e);
}
    
