<div class="main-content">
  <div class="row">
      <div class="col-sm-1">
      </div>

      <div class="col-sm-3 text-center">

          <h4 >Set new password: </h4>
          <input  class="form-control" type="password" placeholder="Enter Old Password" [(ngModel)]="old_password">
          <input class="form-control" type="password" placeholder="New Password"
              [(ngModel)]="new_pass1">
          <input class="form-control" (keyup.enter)="resetPass()" type="password" placeholder="Repeat Password"
              [(ngModel)]="new_pass2">
          <br>
          <button class="btn btn-primary" (click)="resetPass()">Change password</button>
          <br>
          <br>
          <h5 *ngIf="invalid_user" class="pull-center text-danger">Invalid username.</h5>
          <h5 *ngIf="old_pass" class="pull-center text-danger">New password is same as old password.</h5>
          <h5 *ngIf="changed" class="pull-center text-success">Password changed successfully.</h5>
      </div>

  </div>
</div>